<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <label>Enter Title</label>
      <input matInput
      type="text"
      name="title"
      ngModel
      required
      #title="ngModel"
      minlength="3"> <mat-error *ngIf="title.invalid">Please Enter Post Title with min length 3 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>Enter Message</label>
      <textarea
      matInput
      rows="4"
      name="content"
      ngModel
      #Message="ngModel"
      required ></textarea>
      <mat-error *ngIf="Message.invalid">Please Enter Post Message</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
